<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450896078045-or39lphca6lmk1ehoqqmdsqbqd5scvvk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450896078045-or39lphca6lmk1ehoqqmdsqbqd5scvvk</string>
	<key>API_KEY</key>
	<string>AIzaSyBtrMiDNm_0fWROTs74STH-m3y7dpPSD3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>450896078045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alta.pepsigame</string>
	<key>PROJECT_ID</key>
	<string>pepsigameauth</string>
	<key>STORAGE_BUCKET</key>
	<string>pepsigameauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450896078045:ios:c148b37c787e05531f6734</string>
</dict>
</plist>